
.login-page{
    text-align: center;
}
.submit-btn{
    padding-block: 2px;
    color: white;
    background: var(--primary-color);
    font-size: 1.1rem;
}

.input{
    border-color: gray;
    border-width: 0px;

    background: #cecece75;
}
