.input{
    background-color: #dfdfdf3d;
    padding-inline: 8px;
    padding-block: 3px;
    border-radius: 6px;
    border: 1.5px solid #c7c4c4c7;
    width: 100%;
    margin-inline: 12px;
}
.button{
    padding-block: 8px;
    padding-inline: 2rem;
    background: #444444e0;
    border-radius: 8px;
    font-size: large;
}
.add{
    background-color: #DB4444;
    color: white;
}