@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-secondary{
    background-color: #DB4444;
}


.color-secondary{
    background-color: #DB4444;
}

:root {
    --primary-color:  #DB4444;/* Example primary color */
    --secondary-color: #2ecc71; /* Example secondary color */
    --background-color:  #cecece75;
    --font-size: 16px; /* Example font size */
  }